/* Global Styles */
body {
    font-family: 'Public Sans', sans-serif;
    background-color: white;
}

h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1.5em;
    color: #1C1D1F;
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1em;
    color: #1C1D1F;
    margin-top: 0;
}

h3 {
    font-size: 1.374em;
    font-weight: 700;
    line-height: 1.65em;
    color: #1C1D1F;
}

h4 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.62em;
    color: #1C1D1F;  
}

h5 {
    font-size: 1.50em;
    font-weight: 500;
    line-height: 1.1818181818181819em;
    color: #1C1D1F;  
}

h6 {
    font-size: 0.5454545454545454em;
    font-weight: 700;
    line-height: 0.6363636363636364em;
    color: #A9AEB1;
    margin: 0;  
}

img {
    width: 100%;
}

nav {
    font-size: 1.374em;
    font-weight: 700;
    line-height: 1.65em;
    color: #585C62;
}

.nav a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.mainnav {
    width: 100%;
    justify-content: center;
    padding: 0 16px;
}

.mainnav li {
    flex: 1;
}

.container {
    display: flex;
}

.one-third {
    flex-basis: 33.333%;
}

.two-third {
    flex-basis: 66.666%;
}

.one-half {
    flex-basis: 50%;
}

section {
    padding: 105px 16px;
}

.column {
    padding: 0 16px;
}


/* Headers Styles */

header {
    padding: .50em;
}
.header-nav {
    justify-content: space-between;   
}

.logo {
    justify-content: flex-start; 
}

.logo a {
    text-decoration: none;
    color: rgba(0,0,0,.7)
}

.logo a:hover {
    text-decoration: none;
    color: rgba(0,0,0,.7)
}

.social-icons {
    justify-content: flex-end;  
}

.social-icons li {
    padding: .50em;  
}

.social-icons a {
    text-decoration: none;
    color: rgba(0,0,0,.7)
}

.social-icons a:hover {
    text-decoration: none;
    color: rgba(0,0,0,.25)
}

header h3 {
    margin: 0;
}

header ul li {
    padding: .25em;
}
/* Hero Section Styles */
.hero {
    margin: auto;
    text-align: center;
    padding:  8.125em 7.5625em;  
}

/* Fact Section Styles */
.fact-section {
    padding: 94px 31px 197px 31px;
    flex-wrap: wrap;
    justify-content: center; 
}

.facåt-icon {
    font-size: 2em;
}
/* Basic Section Styles */
.basic-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 90px;
}
.right-column {
    padding-top: 100px;
}

.basic-block h3 {
    margin-bottom: 0; 
}

.basic-block h5 {
    margin-top: 10px;








